header {
  background: #fafafa;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

stencil-route-link a {
  text-decoration: none;
}

h1,
h2 {
  font-family: Quicksand, sans-serif;
  color: #ff7a45;
  font-size: 1.6rem;
  letter-spacing: 0.25rem;
  padding: 0 8px;
}

img {
  width: 54px;
}

#nav-container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: space-between;
  align-content: space-between;
  justify-content: space-between;
}

#nav-container div {
  display: inline-block;
  margin-left: 2rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
#nav-container a,
#nav-container div {
  color: #8c8c8c;
}

#nav-container stencil-route-link:first-child div {
  font-family: Quicksand, sans-serif;
  font-size: 0.8rem;
  border: 1px solid #ff7a45;
  color: #ff7a45;
  margin: 8px;
  padding: 12px 25px;
  border-radius: 3px;
  outline: 0;
  transition: all 0.15s ease;
  cursor: pointer;
}

#nav-container stencil-route-link:first-child div:hover {
  background: #ff7a45;
  color: white;
}

#nav-container stencil-route-link:first-child div:active {
  transform: translateY(0.1rem);
}

#nav-container stencil-route-link:last-child div {
  padding: 12px 25px;
  transition: all 0.15s ease;
  border-radius: 3px;
}

#nav-container stencil-route-link:last-child div:hover {
  background: #e8e8e8;
  border: 1px solid #d9d9d9;
}

#nav-container stencil-route-link:last-child div:active {
  transform: translateY(0.1rem);
}

#nav-container .nav-links {
  cursor: pointer;
}

#app-container {
}

@media screen and (max-width: 992px) {
  #nav-container {
    width: 100%;
  }
  #nav-container div {
    text-align: right;
    margin: 0;
  }
  #nav-container .nav-links {
    margin-right: 0.6rem;
    margin-top: 0.2rem;
  }
}
