.layout-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  line-height: 2.6rem;
  margin-top: -70px;
}

.message-styles {
  text-align: center;
}

#app-dashboard form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#file-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#file-upload + label {
  color: #ff7a45;
  border: 1px solid #ff7a45;
  font-family: Quicksand, sans-serif;
  font-size: 0.8rem;
  padding: 0px 25px;
  border-radius: 3px;
  outline: 0;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 2rem;
}

svg {
  fill: #ff7a45;
}
